src/main/webapp/WEB-INF/xmls/members.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT members (person*)>
<!ELEMENT person (name, interests, publications)>
<!ATTLIST person link CDATA #IMPLIED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT interests (interest*)>
<!ELEMENT interest (#PCDATA)>
<!ELEMENT publications (publication*)>
<!ELEMENT publication (#PCDATA)>